/*
	###### You can change the animations from here #####
	You can set animation destination for the four states of a slide. for more information read the documentation
	for PochaSlider: https://github.com/theanam/pochaslider
*/
.pochaslider-active{
    opacity:1;
}
.pochaslider-next{ 
    opacity:0;
}
.pochaslider-passed{
    opacity:0;
}
.pochaslider-idle{ 
    opacity:0;
}
/*
##### You can change template styles in this section #####
Template styles are here, this is the page you should edit to add your own styles
and make your presentation look exactly as you want
*/
/*styles for Standard template*/
html{
	font-family: sans-serif;
}
/*here's a sample on how to add diferent background for different pages, could have been easier,
 but I tried not to add any complexity to the existing markdown syntax*/
.slide:nth-child(2n+1){
	/*make every odd slide dark background, light text color*/
	background:#34495e;
	color:white;
}
.childs-1>h1{
	border-bottom:3px solid #c0392b;
}
.slide>p{
	text-align: justify;
}
.slide>h2{
    /*h2 is by default full width and algned center*/
    -webkit-box-flex:1;
    -webkit-flex:1 100%;
        -ms-flex:1 100%;
            flex:1 100%;
    text-align:center;
}
.slide>ul,.slide>ol{
    margin-left:50px;
    line-height:1.5em;
}
/*slide that has a list*/
.slide.has-list{
    display:block;
}
/*Slide with a single image or single image and a title*/
.slide.single-image.childs-1 img,.slide.single-image.childs-1 figure,.slide.single-image.childs-2 img,.slide.single-image.childs-2 figure{
    max-width:700px;
    max-height:400px;
    max-width:80vw;
    max-height:65vh;
    -webkit-box-flex:1;
    -webkit-flex:1 100%;
        -ms-flex:1 100%;
            flex:1 100%;
}
.slide.single-image *{
    -webkit-box-flex:1;
    -webkit-flex:1 100%;
        -ms-flex:1 100%;
            flex:1 100%;
    text-align:center;
}
/*Slide that has multiple images make images smaller to fit the screen*/
.slide img,.slide figure{
    max-height:250px;
    max-height:30vh;
    max-width:300px;
    max-width:90vw;
}
.slide.multiple-image *{
    text-align:center;
}
.slide.childs-1.single-image img{
    max-width:calc(100vw - 120px);
    max-height:calc(100vh - 120px);
}