/*
    Basic Layout file, you won't love to edit it until you have a good reason to change the layout.
*/
.slide{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    flex-direction:row;
    flex-flow:row wrap;
    padding:60px;
    overflow:hidden;
}
.slide>*{
    margin-top:0;
}
